###> symfony/framework-bundle ###
/.env.local
/.env.*.local
/public/bundles/
/var/
/vendor/
composer.lock
symfony.lock
###< symfony/framework-bundle ###

###> mediashare/time-tracking ###
.time-tracking
.vscode
.idea
###< mediashare/time-tracking ###

###> symfony/phpunit-bridge ###
.phpunit.result.cache
/phpunit.xml
###< symfony/phpunit-bridge ###

###> phpunit/phpunit ###
/phpunit.xml
.phpunit.result.cache
###< phpunit/phpunit ###
