###> symfony/framework-bundle ###
/.env.local
/.env.*.local
/public/bundles/
/var/
/vendor/
composer.lock
symfony.lock
###< symfony/framework-bundle ###

###> mediashare/time-tracking ###
.time-tracking
.vscode
.idea
###< mediashare/time-tracking ###
