###> symfony/framework-bundle ###
/.env.local
/.env.*.local
/public/bundles/
/var/
/vendor/
composer.lock
symfony.lock
###< symfony/framework-bundle ###

###> mediashare/marathon ###
.marathon
.time-tracking
.vscode
.idea
###< mediashare/marathon ###

###> symfony/phpunit-bridge ###
.phpunit.result.cache
/phpunit.xml
###< symfony/phpunit-bridge ###

###> phpunit/phpunit ###
/phpunit.xml
.phpunit.result.cache
###< phpunit/phpunit ###
